{% extends 'BCCResqueBundle::layout.html.twig' %}
{% block body %}
{% include "BCCResqueBundle:Default:_menu.html.twig" with {activeNav: 'failed_list'} %}
<div class="container">
    <div class="row span12">
        <h2>Failed Jobs</h2>
        {% include "BCCResqueBundle:Default:_miniPager.html.twig" %}
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Queue</th>
                    <th>Failed at</th>
                    <th>Job</th>
                    <th>Error</th>
                </tr>
            </thead>
            <tbody>
                {% for job in jobs %}
                <tr>
                    <td class="span1">{{ job.queueName }}</td>
                    <td class="span2">{{ job.failedAt }}</td>
                    <td class="span4">{{ job.name }}</td>
                    <td class="span5">
                        {{ job.exceptionClass }}<br>
                        {{ job.error }}
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="4">
                        <em>empty...</em>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
